.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "definitionsDiv videoDiv"
    "chessOpeningsMainDiv mixednessDiv"
    "chessOpeningsMainDiv bestPlayersDiv"
    "chessOpeningsMainDiv bestPlayerOpenings"
;
    column-gap: 0%;
    justify-items: center;
}

#header {
    grid-area: header;
}

#videoDiv {
    grid-area: videoDiv;
}

#chessOpeningsMainDiv {
    grid-area: chessOpeningsMainDiv;
}

#mixednessDiv {
    grid-area: mixednessDiv;
}

#bestPlayersDiv {
    grid-area: bestPlayersDiv;
}

h1, h2, h3, h4 {
    text-align: center;
}

.row {
    display : grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#definitionsDiv {
    grid-area: definitionsDiv;
}

label, p, a, li, lu {
font-size: 25px;
}

#openingsDiv.text {
    font-size: 15px;
}

#chessOpeningsYear {
    color: darkblue;
}

#openingsDiv {
    width: 600px;
    height: 1000px;
    overflow: scroll;
}

#sortTableByWhite {
    background-color: white;
    color:black;
}

#sortTableByWhite:hover {
    background: steelblue;
    color:white;
}

#sortTableByDraw {
    background-color: grey;
    color: white;
}

#sortTableByDraw:hover {
    background: steelblue;
    color:white;
}

#sortTableByBlack {
    background-color: black;
    color: white;
}

#sortTableByBlack:hover {
    background: steelblue;
    color:white;
}

table {
    border-collapse: collapse;
    align-content: center;
}

th {
    font-weight: normal;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 40px;
}

th rect {
    border: 1px solid black;
    background-color: white;
}

tbody tr:hover {
    background-color: lightblue;
}

td {
    text-align: center;
}

.sortable {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
}

.sortable:hover {
    background: steelblue;
    color: white;
}

/*.sorting {*/
/*    background: black;*/
/*    color: white;*/
/*}*/

/*.sortable.sorting:hover {*/
/*    color: white;*/
/*    background-color: black;*/
/*}*/

.no-display {
    display: none !important;
}

#playerRankings {
    width: 700px;
}


#playerRankings g {
    font: 25px arial;
}

#playerRankings .axisLabel {
    font: 25px arial;
    font-weight: 600;
}

/*
All slider css styles are from HW4
(partial edits have been made)
 */

.slider {
    -webkit-appearance: none;
    width: 615px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 20px
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: darkblue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D4E157;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider-label svg {
    width: 630px;
    height: 35px;
}

.slider-label svg text {
    text-anchor: middle;
}

.slider-wrap {
    display: inline-block;
    float: left;
    width: 620px;
    margin-left: 50px;
}

/* Gini impurity formatting */
#gini g {
    font: 25px arial;
}

#gini .axisLabel {
    font: 25px arial;
    font-weight: 600;
}

#gini .axisStart {
    text-anchor: start;
}

#gini .axisEnd {
    text-anchor: end;
}

#gini .axisMiddle {
    text-anchor: middle;
}

#gini rect {
    fill: #04bdbd
}

#gini .selected-bin {
    fill: red
}

#gini .density-line {
    fill: none;
    stroke: #570057;
    stroke-width: 2.2;
    stroke-linejoin: round;
}

#legend {
    font: 2px arial;
    font-weight: 600;
    margin-left:80px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 300px;
    /*max-width:500px;*/
    min-height: 200px;
    padding: 2px;
    background: white;
    stroke: gray;
    border-radius: 8px;
    pointer-events: none;
    background-color: lightblue;
    /*left: 300px;*/
    /*top: 1300px;*/
}
